:host {
  display: grid;
  padding: 20px;
  grid-template-columns: 200px 200px 200px 100px 100px 100px;
  grid-gap: 20px;
}

div {
  display: grid;
  place-content: center;
  font-family: sans-serif;
  font-size: 200%;
  border: 3px solid darkblue;
  border-radius: 10px;
  background-color: rgba(0, 0, 100, 0.25);
}

div[title="3"]{
  border-top: 20px solid orange; 
}

div[title="% 3 === 0"]{
  grid-column-start: 6;
}
